@import '../../Colors.css';

/* general to cart and product detail */
.attributes-boxes-wrapper {
  display: flex;
}

.display-none {
  display: none;
}

/* in cart */

.in-cart-attributes-main-box {
  margin: 0.8em 0;
}

.in-cart-attributes-title {
  font-size: 2.8em;
  font-weight: 400;
  margin: 0.4em 0;
}

.minicart-attributes__input-label {
  font-size: 1.6em;
  display: inline-block;
  min-width: 3.5em;
  height: 3.0em;
  margin-right: 0.4em;
  border: 0.1em solid var(--black);
  line-height: 3em;
  text-align: center;
}

.color-input__checked {
  box-shadow: 0px 0px 0px 0.2em var(--green);
  border: 0.2em solid var(--white);

  min-width: 2.4em;
  height: 2.4em;
}
.color-input__not-checked {
  opacity: 0.9;
  border: none;

  min-width: 2.4em;
  height: 2.4em;
}

.input__checked {
  background-color: var(--black);
  color: var(--white);
}
.input__not-checked {
  border: 0.1em solid var(--black);
  padding-bottom: 0.9em;
  background-color: lightgray;
  opacity: 0.5;
}



/* in product detail component*/

.attributes-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.product-detail__input-label {
  display: inline-block;
  width: 50px;
  height: 40px;
  margin: 4px;
  border: 1px solid black;

  line-height: 40px;
  text-align: center;
  cursor: pointer;
}


.check__input-not-color {
  background-color: var(--black);
  color: var(--white);
}

.check__input-color {
  box-shadow: 0px 0px 0px 2px var(--green);
  border: 2px solid var(--white);
}
