@import '../../Colors.css';

.product-article {
  width: 386px;
  height: 444px;
  padding: 16px;
  margin: 0 56px 88px 0;
  cursor: pointer;
}

.product-article:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product-article:hover .product-article__add-to-cart-button {
  display: block;
}



.product-article__img-wrapper {
  position: relative;
}

.product-article__img {
  object-fit: contain;
  object-position: center center;
  width: 100%;
  height: 338px;
}

.product-article__add-to-cart-button {
  position: absolute;
  display: none;
  right: 30px;
  bottom: -26px;

  width: 52px;
  height: 52px;

  border-radius: 50%;
  border: none;

  color: var(--white);
  background-color: var(--green);
  cursor: pointer;
}
.product-article__add-to-cart-button:active {
  box-shadow: inset 1px 1px 4px 0.5px rgba(0,0,0,0.5);
}

.product-article h3, h4 {
  color: var(--black);
  font-size: 1.8rem;
}
.product-article h4 {
  padding-top: 26px;
  font-weight: 300;
}
.product-article h3 {
  
  font-weight: 500;
}

/* out of stock */
.out-of-stock img {
  opacity: 0.5;
}
.out-of-stock h3, 
.out-of-stock h4 {
  color: var(--gray);
}

.out-of-stock:hover .product-article__add-to-cart-button {
  display: none;

}

.sign__out-of-stock {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--gray);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.sign__out-of-stock--p {
  font-size: 2.4rem;
  text-transform: uppercase;
  padding: 4px 16px;
  color: var(--gray);
}
.display-flex {
  display: flex;
}

@media (max-width: 946px) {
  .product-article {
    margin: 12px auto;
  }
}


