@import '../Colors.css';

.modal {
  background: rgba(57, 55, 72, 0.22);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  height: 100%;
  width: 100%;
  display: none;

  z-index: 2;
  animation: opacity 0.2s;
}

.miniCart {
  background-color: var(--white);
  color: var(--black);
  width: 325px;
  max-height: 80vh;
  padding: 16px;
  position:absolute;
  right: 68px;

  font-size: 5px;
  overflow: auto;

  animation: appears 0.2s;
}

@keyframes appears {
  0% {
      top: -100%;
      opacity: 0;
      
  }
  80% {
    opacity: 0;
}
  100% {
      top: 0;
      opacity: 1;
  }
}
@keyframes opacity {
  0% {
      opacity: 0;
      
  }
  100% {
      opacity: 1;
  }
}

.miniCart::-webkit-scrollbar {
  width: 8px;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--black);
}
.miniCart::-webkit-scrollbar-thumb {
  border: 1px solid var(--black);
  border-radius: 5px;
  background-color: var(--black);
} 

.mini-cart__title {
  font-size: 1.6rem;
  margin-bottom: 32px;
}

.mini-cart__total-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.mini-cart__total-text {
  font-size: 3.2em;
  font-weight: 500;
}
.mini-cart__total-number {
  font-size: 3.2em;
  font-weight: 700;
}

.mini-cart__buttons-container {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mini-cart__button {
  font-size: 1.4rem; 
  line-height: 43px;
  text-transform: uppercase; 
  width: 48%;
}

.mini-cart__button:active {
  box-shadow: inset 1px 1px 4px 0.5px rgba(0,0,0,0.5);
}

.viewbag {
  background-color: var(--white);
  border: 1px solid var(--black);
}
.viewbag a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: var(--black);
}

.checkout {
  border: none;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
}
