@import '../../Colors.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 68px;
  height: 80px;
}

.header__nav-categories {
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.category-li {
  width: 68px;
  height: 84px;

  text-decoration: none;
  list-style: none;

  text-align: center;
}

.category-li__link{
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 400;
  padding: 28px 0px;
  display: inline-block;
  width: 68px; 
}

.category-active__all,
.category-active__tech,
.category-active__clothes {
  font-weight: 600;
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

.header__buttons-section {
  width: 260px;
  display: flex;
  justify-content: flex-end;
}

.header__mini-cart-button, .header__currency-switcher-button {
  
  background-color: var(--white);
  border: none;
  padding: 8px;

  cursor: pointer;
  position: relative;

  font-size: 1.8rem;
}

.header__mini-cart-button-counter {
  position: absolute;
  line-height: 20px;
  width: 20px;
  font-size: 12px;

  top: -4px;
  right: -4px;

  background-color: var(--black);
  color: var(--white);
  border-radius: 50%;
}