

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 68px;
  height: 80px;
}

/* .header nav {
  margin-left: 25px;
} */

.header__nav-categories {
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.category-li {
  width: 68px;
  height: 84px;

  text-decoration: none;
  list-style: none;

  text-align: center;

}

.category-li a{
  color: black;
  padding: 28px 0px;
  display: inline-block;
  width: 68px;
  
  /* box-sizing: content-box; */
  
}


/* .category-li a:hover{
  border-bottom: 3px solid rgb(0, 220, 70);
} */

.category-li a:focus {
  font-weight: bold;
  color: rgb(0, 220, 70);
  border-bottom: 3px solid rgb(0, 220, 70);
}



.header__buttons-section {
  width: 260px;
  display: flex;
  justify-content: flex-end;
}



.header__mini-cart-button, .header__currency-switcher-button {
  
  background-color: white;
  border: none;
  padding: 8px;

  cursor: pointer;
}