






.modal {

  background: rgba(97, 90, 90, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  height: 100%;
  width: 100%;
  display: none;
}

.miniCart {
  background-color: white;
  width: 300px;
  position:absolute;
  right: 68px;
}