






.modal {

  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.miniCart {
  background-color: white;
  width: 300px;
  position:absolute;
  right: 30px;
}