@import '../Colors.css';






.modal {

  background: rgba(57, 55, 72, 0.22);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  height: 100%;
  width: 100%;
  display: none;

  z-index: 1;
}

.miniCart {
  background-color: var(--white);
  color: var(--black);
  width: 325px;
  padding: 16px;
  position:absolute;
  right: 68px;

  font-size: 5px;
}

.mini-cart__title {
  font-size: 1.6rem;
  margin-bottom: 32px;
}


.mini-cart__total {
  font-size: 3em;
}


.mini-cart__buttons-container {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mini-cart__button {
  font-size: 1.4rem; 
  line-height: 43px;
  text-transform: uppercase; 
  width: 48%;
}

.viewbag {
  
  background-color: var(--white);
  border: 1px solid var(--black);
}
.viewbag a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: var(--black);
}

.checkout {
  border: none;
  background-color: var(--green);
  color: var(--white);
}

