@import '../Colors.css';

/* general to cart and product detail */
.attributes-boxes-wrapper {
  display: flex;
  /* margin-bottom: 2.4em; */
}

.display-none {
  display: none;
}



/* in cart */

.in-cart-attributes-title {
  font-size: 2.5em;
  display: none;
}


.color-input__checked {
  border: 0.4em solid black;
}
.color-input__not-checked {
  opacity: 0.1;
}

.input__checked {
  background-color: var(--black);
  color: var(--white);
}

.input__not-checked {
  opacity: 0.1;
}

.minicart-attributes__input-label {
  font-size: 1.6em;
  display: inline-block;
  min-width: 3.5em;
  height: 3.0em;
  margin-right: 4px;
  border: 1px solid var(--black);

  line-height: 3em;
  text-align: center;
}





/* in product detail component*/

.attributes-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.product-detail__input-label {
  display: inline-block;
  width: 50px;
  height: 40px;
  margin-right: 8px;
  border: 1px solid black;

  line-height: 40px;
  text-align: center;

  cursor: pointer;
}


.check__input-not-color {
  background-color: var(--black);
  color: var(--white);
}

.check__input-color {
  border: 4px solid var(--black);
}

.check__input-color-green {
  border: 4px solid var(--green);
}